.chat-main
  .chat-main__group-info
    .groups
      .group__box
        = @group.name
      .group__box-2
        member:
        = @group.users.pluck(:name).join(",")
    .group__box-3
      .editlink
        = link_to edit_group_path(@group) do
          Edit
        
  .chat-main__message-list
    = render @messages
    .messages
      .messages__in
        before
      .messages__out
        now
    .message
      after
  .chat-main__message-form
    .form
      .input-box
        = form_for [@group, @message] do |f|
          .new_message
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            .input__box__image
              = f.label :image, class: "input-box__image" do
                = icon('fas', 'image')
                = f.file_field :image, class: "image"
            .form-button
              = f.submit 'Send', class: "submit-btn"
