    .form
      .input-box
        %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        .input__box__image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class: "image"}
      .form-button
        %input{type: "submit", class: "submit-btn",value: "Send",data_disable_with:"Send"}


 .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'




.chat-main__message-form {
  padding: 20px 40px;
  background-color: #ddd;
  .form 
    display: flex;

   
    .input-box {
      position: relative;
      width: 100%;

      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .input__box__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        input[type="file"]{
          display: none;
        }

      }
    }
    
    input[type="submit"]{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      border-style: none;
      

    }
  }
}



.chat-main__message-form
    .form
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input__box__image
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image')
              = f.file_field :image, class: "image"
          .form-button
            = f.submit 'Send', class: "submit-btn"
